.content{
  width:70%;
  float:left;
  padding: 0 0 0 30px;
  background:orange;
  height:100%;
}
.sidebar{
  width:30%;
  float:right;
  padding: 0 0 0 10px;
  background:red;
  height:100%;
}
h1{
  text-align:center;
  border-bottom:1px solid #bbb;
  padding-bottom:10px;
}
body{
  color:black;
  background:orange;
}
#date{
  color:green;
  font-size:20px;
  font-style: oblique;

}
